 .btn-voyage{
  background: #ff770d;
  color:white;
  font-family: Helvetica, sans-serif;
  width:60%;
  float:right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-voyage a:hover{
	background-color:#0d95ff;
}

.site-header{
	width:100%;
}

.fontsize{
	display:none;
}

body {
  background-color: white; 
  font-family:helvetica, sans-serif;
  color: black;
}

.rect {
  width: 88%;
  border: 5px solid black;
  padding: 10px;
  padding-top: 15px;
}

.rect p{
  padding-bottom:0px!important;
}

.carousel{
	display: none;
}

.logo img{
	width:25%;
}

img{
	width:25%;
}

/*Titre*/

h1 {
	font-family:lucida sans unicode, sans-serif;
	display:block;
	text-align:center;
	padding-bottom: 10px;
  font-weight: bold;
}
.form{
  margin-left: 15em;
}
h2 {
 font-size: 150%;
 font-family: Open Sans, sans-serif; 
 color: black; 
 text-align:center;
 padding-left: 15px;
 padding-top: 20px;
}

ul,li,td,p {
 color: black;
 text-align: justify;
 font-size:18px;
 /*! margin-bottom:4px; */
}

#menu{
  /* couleur menu navigation */
  background: rgb(82, 137, 191);
  opacity:10%;
  color:white;
  height: 3em;
  text-align: center;
  font-family:Helvetica, sans-serif;
}

#menu li{
	color:white;
	text-decoration:none;
	display:block; /*Affichage pour menu*/
	text-align: center;
	padding:7px;
  height:3em;
  margin-top: 5px;
  line-height:2.7;
}
#menu li:hover{
	background: #75c1fc;	
}
#charte1 h3, h2{

background-color:rgb(82,137,191);
border: solid 2px;
text-align:center;  

}
#charte1{
border: none 2px;
margin: 5px 100px;
padding:10px;
font-family: "Times New Roman", Times, sans-serif;
}


#charte1 > h1{
  text-align: center;
  text-decoration: underline;
}

#charte1 #ul_questionnaire{
  text-spacing
}
#menu ,#menu li{
  /* couleur menu navigation */
  background: rgb(82, 137, 191);


}

#menu ul{
	list-style-type:none; /*Effacer les puces du menu*/
	margin-left:0;
	padding-left:0;
	text-align: center;
}
.charte{
  padding-top: 1em;
  padding-left: 13.5em;
  padding-right: 13.5em;
}
.charte p{
  border: 3px solid black;
  margin: 0.5em;
  
}

.inscription{
  border: 3px solid black;
  margin-left: 14.5em;
  margin-right: 14.5em;
  margin-top: 4em;

}
.inscription form input{
  margin:1em; 
}
.inscription form {
  margin:1em; 
}

.connexion{
  border: 3px solid black;
  margin-left: 14.5em;
  margin-right: 14.5em;
  margin-top: 4em;

}
.connexion form input{
  margin:1em; 
}
.connexion form{
  margin:1em;
}

#formul{
margin-left: 26em;
}
#formul #login{
  margin-left: 3.1em; 
}
#submit{
  margin-left: 7em;
}
#inscri{
  margin-left: 27em;
}
#inscri input{
  margin-left: 3em;
}
.tuto{
  width: 80em;
  margin-left: 15em;
}
#footer{
	color:white;
	text-align: center;
	font-family:Helvetica, sans-serif;
  margin-top: 0;
  margin-left: -15px;
}
#footer a{
	color:white;
	text-decoration:none;
	display:block; /*Affichage pour menu*/
	text-align: center;
	padding:7px;
	
}
#footer a:hover{
	background: #75c1fc;	
}
#footer ,#footer li{
	background: rgb(82, 137, 191);
}
#footer ul{
	list-style-type:none; /*Effacer les puces du footer*/
	margin-left:0;
	padding-left:0;
	text-align: center;
}

#contact body{
  font-size: 14px; 
  line-height: 24px;
}
#contact p{
	padding-top:15px;
	margin-bottom:0px;
}

/*Responsive Design*/
@media screen and (min-width:1024px) {
	#menu ul li{
		width:25%;
		float:left;
		margin:0;
		padding:0;
	}
	#menu ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  img{
   width:90%;
 }

 .logo img{
   width:140px;
   margin-top: 35px;
   margin-left: 25px;
 }

 .rect {
  width:96%;
}

.carou {
  width:100%;
}

.btn-voyage{
  background: #ff770d;
  color: white;
  font-family: Helvetica, sans-serif;
  width:80%;
  margin-right:30px;
  margin-top: -5px;
  margin-bottom: 0px;
}

.faq{
  background: #ff770d;
  color: white;
  font-family: Helvetica, sans-serif;
  margin-bottom: 15px;
}
.faq a { 
  width: 90%;
}
.faq a:hover{
	background-color:#0d95ff;
}
.faqq h3{	
	cursor: pointer;
}
.faqq non-display{
  display:none;
}		
.faqq display {
  display:block;
}

.fontsize {
  display:block;
  margin-right: -20px;
}
.fontsize a {
  font-size:150%; 
  font-family: courier, sans-serif; 
  color:#1400ff;
}
.fontsize a:hover {
  color:white!important;
  text-decoration:none!important;
}
.fontsize a:focus {
  color:white!important
}
.aa {
  text-align: center;
  margin-bottom: 0px;
  width:40%;
  /* background:lightgrey;*/
}

.qsn ul {
  text-align: justify
}

h1 {
	margin-bottom: 30px;
	text-align: center;
}

h2 {
  margin-top:30px;
  margin-bottom: 25px;
  padding-left: 0px;
}	

#footer ul {
  margin-bottom: 0px;
  margin-left: 15px;
}
#footer ul li {
  width:25%;
  float:left;
  margin-top:20px;
  margin-bottom: 45px;
}	
/*.footer {
    clear: both;
    }*/

    #charte1 {
      float:center;
  /*background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
  background: #edfbff;
  margin: auto;
  position: relative;
  width: 85%;
  height: 80%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  text-align: justify;
}

#charte1 h2{
 font-size: 150%;
 font-family: Open Sans, sans-serif; 
 color: black; 
 padding-bottom: 5px;
 padding-top: none;
 font-weight: bold;
 text-align: center;
}

#charte1 h3{
 font-family: Open Sans, sans-serif;
 font-size: 130%;
 text-align: center;
 text-decoration: underline;
 padding-top:5px;
 padding-bottom: 5px;
 
}

#charte1 p{
 text-align: justify;
 border: none;
}

textarea#feedback {
  width: 375px;
  height: 150px;
}
textarea#feedback {
  width: 375px;
  height: 600px;
  display: block;
}
button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}

input.button:hover {
  background: #fff;
  color: #09C;
}
textarea:focus, input:focus {
  border: 1px solid #09C;
}

.pds h2{
  text-align:center;
}
.pds li{
}

.row2 {
	text-align:center;
}

.rect {
  padding-top: 35px;
}

.carousel {
	padding-bottom: 0%;
	margin: 0 auto 2em; 
	overflow:hidden;
	width: 100%;
	display:block;
}
.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel2 {
	padding-bottom: 0%;
	margin: 0 auto 2em;
	margin: 0 auto 2em;
	overflow:hidden;
	width: 100%;
	display:block;
}

.carousel2-control.left, .carousel2-control.right {
  background-image: none
}
